site_name: Networks Docs

nav:
  - For players:
    - Home: index.md
    - Introduction: players/basics.md
    - Components: players/components.md
    - Commands: players/commands.md
    - Ranges: players/range.md
    - Users: players/users.md
    - Merging: players/merging.md
  - For admins:
    - Installation: admin/installation.md
    - Configuration: admin/config.md
    - Admin commands: admin/admin-commands.md
    - Addons: admin/addons.md
  - Terminals:
    - Home: terminals/index.md
  - Bugs: bugs.md
  - Social: social.md
    

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  # custom_dir: overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  icon:
    repo: fontawesome/brands/github-alt
  palette:
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: deep purple
    accent: indigo
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: indigo
    toggle:
      icon: material/weather-night
      name: Switch to light mode

copyright: <a href="https://kwantux.de/imprint">&#10140; Contact & Imprint</a>